<!DOCTYPE html>
<html lang="en">

<head>
  <title>Anika Legal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/images/logo/logo-icon-color.png" rel="shortcut icon" type="image/png">
  {{!-- CSS --}}
  <link rel="stylesheet" type="text/css" href="/build/main{{#if CSS_BUILDHASH}}-{{CSS_BUILDHASH}}{{/if}}.css">
</head>

<body>
  <div id="app"></div>

  {{!-- Google Analytics --}}
  {{#if GA_ID}}
  <script async src="https://www.googletagmanager.com/gtag/js?id='{{ GA_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ GA_ID }}');
  </script>
  {{else}}
  <script>
    function gtag() { console.log('gtag event', arguments) }
  </script>
  {{/if}}
  {{!-- End Google Analytics --}}

  {{!-- Facebook pixel --}}
  {{#if FB_PIXEL_ID}}
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ FB_PIXEL_ID }}');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id={{ FB_PIXEL_ID }}&ev=PageView&noscript=1" /></noscript>
  {{else}}
  <script>
    function fbq() { console.log('Facebook event', arguments) }
  </script>
  {{/if}}
  {{!-- end Facebook pixel --}}

  {{!-- JavaScript --}}
  <script src="/build/main{{#if JS_BUILDHASH}}-{{ JS_BUILDHASH }}{{/if}}.js"></script>
</body>

</html>